@model  BookStore.Domain.Entities.Product
@{
    ViewBag.Title = "_ProductSummary";
}

<div class="well">
    <h3>@Model.Name</h3>
    <span class="pull-right label label-primary" >@Model.Price.ToString("c")</span>
    @using (Html.BeginForm("AddToCart", "Cart", "POST"))
            {
    < div class="pull-right">
        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="Add to cart" /> 
     </div>
    }
    <span class="lead">@Model.Description</span>
</div>

